<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card mb-3 widget-chart p-2">
                <div class="widget-chart-content">
                    <div class="widget-numbers">
                        <span>300</span>
                    </div>
                    <div class="widget-subheading fsize-1 pt-2 opacity-10 font-weight-bold">EMPRESAS REGISTRADAS (TOTAL)</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="card mb-3 widget-chart p-2">
              <div class="widget-chart-content">
                  <div class="widget-numbers">
                      <span>300</span>
                  </div>
                  <div class="widget-subheading fsize-1 pt-2 opacity-10 font-weight-bold">HOY CONTACTADAS</div>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-4">
          <div class="card mb-3 widget-chart p-2">
              <div class="widget-chart-content">
                  <div class="widget-numbers">
                      <span>300</span>
                  </div>
                  <div class="widget-subheading fsize-1 pt-2 opacity-10 font-weight-bold">EMPRESAS CONTACTADAS</div>
              </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="card mb-3 widget-chart p-2">
                <div class="widget-chart-content chartclass">
                  <canvas id="barChart" class="w-100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6">
          <div class="card mb-3 widget-chart p-2">
            <table class="mb-0 table table-bordered">
                <thead>
                  <tr>
                      <th>RED SOCIAL</th>
                      <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>FACEBOOK</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <td>TIK TOK</td>
                      <td>90</td>
                  </tr>
                  <tr>
                      <td>INSTAGRAM</td>
                      <td>95</td>
                  </tr>
                  <tr>
                      <td>X</td>
                      <td>10</td>
                  </tr>
                  <tr>
                      <td>LINKEDIN</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>SNAPCHAT</td>
                      <td>10</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-4">
          <div class="card mb-3 widget-chart p-2">
            <table class="mb-0 table table-bordered">
                <thead>
                  <tr>
                      <th>RED SOCIAL</th>
                      <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>FACEBOOK</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <td>TIK TOK</td>
                      <td>90</td>
                  </tr>
                  <tr>
                      <td>INSTAGRAM</td>
                      <td>95</td>
                  </tr>
                  <tr>
                      <td>X</td>
                      <td>10</td>
                  </tr>
                  <tr>
                      <td>LINKEDIN</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>SNAPCHAT</td>
                      <td>10</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4">
            <div class="card mb-3 widget-chart p-2">
                <div class="widget-chart-content chartclass">
                  <canvas id="pieChart" class="w-100"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4">
          <div class="card mb-3 widget-chart p-2">
            <table class="mb-0 table table-bordered">
                <thead>
                  <tr>
                      <th>RED SOCIAL</th>
                      <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>FACEBOOK</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <td>TIK TOK</td>
                      <td>90</td>
                  </tr>
                  <tr>
                      <td>INSTAGRAM</td>
                      <td>95</td>
                  </tr>
                  <tr>
                      <td>X</td>
                      <td>10</td>
                  </tr>
                  <tr>
                      <td>LINKEDIN</td>
                      <td>80</td>
                  </tr>
                  <tr>
                      <td>SNAPCHAT</td>
                      <td>10</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <div class="app-wrapper-footer">
      <div class="app-footer">
          <div class="app-footer__inner">
          </div>
      </div>
  </div>
</div>
