<div class="app-main__outer">
  <div class="app-main__inner">
      <div class="app-page-title">
          <div class="page-title-wrapper">
              <div class="page-title-heading">
                  <div class="page-title-icon">
                      <i class="{{icono}} text-danger">
                      </i>
                  </div>
                  <div>{{titulo}}
                      <div class="page-title-subheading">{{descripcion}}
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="main-card mb-1 card">
          <div class="card-body" id="searchform">
              <div>
                  <div class="d-flex flex-wrap align-items-center">
                      <div class="form-group mr-3">
                          <label for="ruc" class="mr-2">RUC</label>
                          <input name="ruc" id="ruc" type="number" class="form-control" style="width: 35vh;">
                      </div>
                      <div class="form-group mr-3 fieldrazsoc">
                          <label for="razonsocial" class="mr-2">RAZÓN SOCIAL</label>
                          <input name="razonsocial" id="razonsocial" type="text" class="form-control">
                      </div>
                      <button class="btn btn-primary btnbuscarconsulta" style="top: 6px;"><i class="pe-7s-search"> </i> Buscar</button>
                      <button class="btn btn-success btnnuevoconsulta" style="top: 6px;" (click)="open(content)"><i class="pe-7s-plus"> </i> Nuevo</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="main-card mb-1 card">
          <div class="card-body">
              <table class="mb-0 table">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>mdo</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>fat</td>
                  </tr>
                  <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>twitter</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="app-wrapper-footer">
      <div class="app-footer">
          <div class="app-footer__inner">
          </div>
      </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Título del Modal</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cerrar')"></button>
  </div>
  <div class="modal-body">
    Este es el contenido del modal.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancelar')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Guardar')">Guardar Cambios</button>
  </div>
</ng-template>
