<div class="app-main__outer">
  <div class="app-main__inner">
      <div class="app-page-title">
          <div class="page-title-wrapper">
              <div class="page-title-heading">
                  <div class="page-title-icon">
                      <i class="pe-7s-plane icon-gradient bg-tempting-azure">
                      </i>
                  </div>
                  <div>Pagina de Bienvenida
                      <div class="page-title-subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quis at eligendi officia non doloremque similique cumque
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="app-wrapper-footer">
      <div class="app-footer">
          <div class="app-footer__inner">
              <div class="app-footer-right">
                  <ul class="header-megamenu nav">
                      <li class="nav-item">
                          <p style="margin: 0px">Municipalidad Provincial del Callao &copy; 2019</p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
